.col.l3.m6.s12
  .card.travel.small
    .grey-text.text-darken-2
      if hasPhotos
        .card-image
          img(src="#{getPhoto}")
        span.card-title.text-shadow Flight from #{orig} to #{dest}
      else
      .card-content.row
        i.fa.fa-plane.fa-5x.col.s4
        span.card-title.grey-text.text-darken-3.col.s8 Flight from #{orig} to #{dest}
      .card-content
        p.flow-text #{saleTotal}
    
    .card-action
      if isProfile
        a.modal-trigger.remove-event(href="##{id}") Remove from Trip
      else
        a.modal-trigger.save-to-trip(href="##{id}") Save to Trip
